.blog {
    display: flex;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.cover {
    max-width: 700px;
    height: auto;
    margin: 1rem 1rem;

}

.title img {
    vertical-align: middle;
    width: auto;
    height: 50px;
    border-radius: 50%;
}

.app__return {
    display: flex;
    max-height: 75px;
    justify-content: flex-end;
    margin: 1rem 2rem;
}

.app__return svg {
    width: 75px;
    height: auto;
    transition: all 0.3s ease;
}

.app__return svg:hover {
    transform: scale(0.9);
    color: #0093c6;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 1rem 2rem;
}

@media (max-width: 700px) {
    .app__return svg {
        width: 35px;
    }
}